cffi
contourpy
cryptography
cycler
fonttools
imageio
kiwisolver
lazy-loader
matplotlib
networkx
numpy
packaging
pillow
pycparser
pycryptodomex
pyparsing
pyqt6
pyqt6-qt6
pyqt6-sip
python-dateutil
pywavelets
reedsolo
scikit-image
scipy
six
soundfile
tifffile
